body {
  font-size: 15px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 4px;
  color: #24294d;
}

ul li:hover {
  color: #131313;
  cursor: pointer;
}

hr {
  border-width: 3px;
}

.card {
  padding: 2% 7%;
}

.social i {
  padding: 1%;
  font-size: 15px;
}

.social i:hover {
  color: #000000;
  cursor: pointer;
}

.policy > div {
  padding: 4px;
}

.heading {
  font-family: "Titillium Web", sans-serif;
  color: black;
}

.divider {
  border-top: 2px solid;
}
